/* reset page */

*{
    margin: 0;
    padding: 0;
}

/* font initialization */

.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
}

.fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
}

.fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
}

.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

.fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
}

.fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
}

.fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
}

.fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
}

.fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
}

.fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
}

.fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
}

.fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
}

.fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
}

.fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
}

.fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
}

.fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
}

.fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
}

/* section-headings */
.fira-sans-bold-heading-3 {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
}

/* bg color section */
.bg-primary{
    background-color: #f5f5f5;
}
.hero-bg{
    background-color: #C6E4D6;
}

/* colors */

.color-1{
    color: #006A50;
}
.color-2{
    color: #0E0E0E;
}
.color-3{
    color: rgba(14, 14, 14, 0.5);
}

/* shared button styles */

.primary-btn{
    background-color: #006A50;
    padding: 17px 34px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    border: none;
}

/* nav styles */
nav{
    width: 1280px;
    margin: 0 auto;
}
nav .nav-title{
    /* width: 1600px; */
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
}

.nav-logo{
    font-size: 32px;
    margin: 31px 0;
}

.btn-nav{
    font-size: 18px;
    margin: 24px 0;
    padding: 15px 30px 15px 30px;
    color: #006A50;
    border-radius: 8px;
    border: 1px solid #006A50;
}

/* hero section */

.banner-container{
    width: 1280px;
    margin: 0 auto;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    gap: 64px;
}

.banner-left{
    width: 622px;
    margin: 117px 0 117px 60px;
}

.banner-subtitle{
    margin-bottom: 16px;
    font-size: 24px;
}

.banner-title{
    font-size: 56px;
    margin-bottom: 24px;
}

img{
    margin: 80px 60px 80px 60px;
}