/* reset page */

*{
    margin: 0;
    padding: 0;
    line-height: 24px;
}

/* font initialization */

.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
}

.fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
}

.fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
}

.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

.fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
}

.fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
}

.fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
}

.fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
}

.fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
}

.fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
}

.fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
}

.fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
}

.fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
}

.fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
}

.fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
}

.fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
}

.fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
}

/* section-primary-headings */
.fira-sans-bold-heading-3 {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
}

.heading-primary{
    font-size: 40px;
}

/* bg color section */
.bg-primary{
    background-color: #f5f5f5;
}
.hero-bg{
    background-color: #C6E4D6;
}

/* colors */

.color-1{
    color: #006A50;
}
.color-2{
    color: #0E0E0E;
}
.color-3{
    color: rgba(14, 14, 14, 0.5);
}
.color-4{
    color: rgba(14, 14, 14, 0.7);
}
.color-5{
    color: rgba(14, 14, 14, 0.6);
}
.color-6{
    color: rgba(14, 14, 14, 0.8);
}

.vision-card-color-1{
    background-color: rgba(84, 144, 245, 0.2);
}
.vision-card-color-2{
    background-color: #C6E4D6;
}
.vision-card-color-3{
    background-color: #F7EBCF;
}

.btn-color-1{
    background-color: #5490F5;
}
.btn-color-2{
    background-color: #09A15C;
}
.btn-color-3{
    background-color: #FFC239;
}

/* shared button styles */

.primary-btn{
    background-color: #006A50;
    padding: 17px 34px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    border: none;
}

.btn-secondary{
    padding: 11px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    border: none;
    border-radius: 8px;
}

/* nav styles */
nav{
    width: 1280px;
    margin: 0 auto;
}
nav .nav-title{
    /* width: 1600px; */
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
}

.nav-logo{
    font-size: 32px;
    margin: 31px 0;
}

.btn-nav{
    font-size: 18px;
    margin: 24px 0;
    padding: 15px 30px 15px 30px;
    color: #006A50;
    border-radius: 8px;
    border: 1px solid #006A50;
}

/* hero section */

.banner-container{
    width: 1280px;
    margin: 0 auto;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    gap: 64px;
}

.banner-left{
    width: 622px;
    margin: 117px 0 117px 60px;
}

.banner-subtitle{
    margin-bottom: 16px;
    font-size: 24px;
}

.banner-title{
    font-size: 56px;
    margin-bottom: 24px;
}

img{
    margin: 80px 60px 80px 60px;
}

main{
    width: 1280px;
    margin: 0 auto;
}

.stakeholders-container{
    /* width: 1280px; */
    margin: 80px 0;

}
.stakeholders-heading{
    /* font-size: 40px; */
    margin-bottom: 32px;

}

.stakeholders{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.stakeholders-content{
    width: 302px;
    border: none;
    padding: 24px;
    border-radius: 16px;
    background-color: #fff;
}

.stakeholders-content img {
    margin: 0 0 24px 0;
}

.content-title{
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 700;
}

.content-description{
    font-size: 16px;
    line-height: 24px;

}

/* vision section */

.vision-container{
    margin-bottom: 32px;
}
.visions{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.visions-contents{
    width: 410px;
    padding: 32px;
    border-radius: 16px;
}

.visions-contents img{
    margin: 0 0 24px 0;
}
.vision-content{
    margin-bottom: 24px;
    min-height: 108px;
}

.vision-title{
    margin-bottom: 24px;
}

.vision-description{
    font-size: 16px;
    margin-bottom: 32px;
    line-height: 24px;
}

/* quote container design */

.quote{
    background-color: #fff;
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 25px 22px;
    padding: 48px 24px;
    border: none;
    border-radius: 16px;
    margin-bottom: 80px;
    

}

.quote-content{
    margin-bottom: 12px;
}

.quote-person{
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.8);
}
.person-designation{
    color: rgba(14, 14, 14, 0.6);
}

/* news section styling */

.news-title{
    margin-bottom: 24px;
}

.news{
    margin-bottom: 32px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}
.news-body{
    border-radius: 24px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
.news-img{
    border-radius: 24px;
    margin: 48px 0 48px 48px;
}

.news-contents{
    margin: 56px 48px 56px 0;
    width: 744px;
}
.news-content{
    margin-bottom: 32px;
}

.news-heading{
    font-size: 32px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);


}

.newschannel{
    margin: 12px 0;
}

.date-time{
    font-size: 16px;
    margin-bottom: 12px;
}

.date{
    margin-right: 12px;
}

.news-description{
    font-size: 16px;

}

.news-body-2{
    border-radius: 24px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.news-body-2 .news-img{
    border-radius: 24px;
    margin: 48px 48px 48px;
}

.news-body-2 .news-contents{
    margin: 56px 0 56px 48px;
    width: 744px;
}